{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          //   "modules": "./src/modules",
          //   "types": "./src/types",
        }
      }
    ]
  ]
}
