{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "modules": "./src/modules",
          "types": "./src/types",
          "store": "./src/store",
          "hooks": "./src/hooks",
          "theme": "./src/theme",
          "constants": "./src/constants",
          "utils": "./src/utils",
          "test_utils": "./src/test-utils",
          "assets": "./src/assets",
          "mocks": "./src/mocks",
          "src": "./src"
        }
      }
    ]
  ]
}
